html, body {
  height: 100%;
}

body { padding: 50px 0 0 0; }

.container { height: 100%; }

.e-text-book-editor {
  float: left;
  width: 100%;
  height: 100%;
  .properties {
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    background: #eee;
    .save {
      .glyphicon {
        margin: 0 5px 0 0;
      }
    }
    #book-list {
      float: right;
      margin: 10px 0 0 0;
    }
  }
  .desktop, .display {
    float: left;
    width: 50%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
  }
  .display {
    overflow: hidden;
  }
  .desktop {
    e-text-book {
      float: left;
      width: 100%;
      add-module-button, add-block-button {
        float: left;
        width: 100%;
        height: 1px;
        overflow: hidden;
        background: url('/img/add-button.png') no-repeat center bottom;
        padding: 0 0 10px;
        cursor: pointer;
        transition: all 1s ease; -webkit-transition: all 1s ease; -moz-transition: all 1s ease;
        &.open {
          height: 50px;
          wrap {
            transition: all 1s ease; -webkit-transition: all 1s ease; -moz-transition: all 1s ease;
            margin: 0;
          }
        }
        wrap {
          float: left;
          width: 100%;
          padding: 0 0 0 0;
          margin: -20px 0 0 0;
        }
      }
      add-block-button {
        background-size: 30px auto;
        margin: 0 0 20px;
      }
      block add-block-button {
        position: relative;
        margin: -20px 0 0 0;
        top: 40px;
      }
      control-panel {
        float: right;
        height: 20px;
        margin: -30px -15px 0 0;
        position: relative;
        display: none;
        item {
          float: left;
          width: 20px;
          height: 20px;
          border: solid 1px #eee;
          border-radius: 3px;
          font-size: 13px;
          margin: 5px 5px 0 0;
          text-align: center;
          cursor: pointer;
          color: #999;
          &:hover { color: #333; }
          span {
            position: relative;
            top: 2px;
          }
          &.current {
            background: #eee;
          }
        }
      }
      module {
        float: left;
        width: 100%;
        padding: 20px 0 0 0;
        &:hover {
          control-panel.module-panel { display: block; }
        }
        edit-element {
          display: none;
          input[type=text] {
            float: left;
            width: 100%;
            text-indent: 10px;
            height: 30px;
          }
          textarea {
            float: left;
            width: 100%;
            padding: 10px;
          }
        }
        &[editable="1"] {
          view-element.module-element { display: none; }
          edit-element.module-element { display: block; }
          control-panel.module-panel { display: block; }
        }
        module-title {
          float: left;
          width: 100%;
          margin: 0 0 10px;
        }
        module-questions {
          float: left;
          width: 100%;
          margin: 0 0 10px;
        }
        module-description {
          float: left;
          width: 100%;
          margin: 0 0 10px;
        }
        blocks {
          float: left;
          width: 100%;
          padding: 20px 0 0 0;
          block {
            float: left;
            width: 100%;
            border: solid 1px #eee;
            padding: 30px 15px 15px 15px;
            margin: 0 0 30px 0;
            block-headline {
              float: left;
              width: 100%;
              block-index {
                float: left;
              }
              block-categories {
                float: left;
              }
              block-title {
                float: left;
                width: 100%;
                input {
                  float: left;
                  width: 100%;
                }
              }
            }
            block-content {
              float: left;
              width: 100%;
              padding: 10px 0 0 0;
              widget {
                float: left;
                width: 100%;
                margin: 10px 0 0 0;
                .widget-selector {
                  float: left;
                  display: none;
                }
                widget-content {
                  float: left;
                  width: 100%;
                  margin: 10px 0 0 0;
                }
              }
            }
            &[editable="1"] {
              edit-element { display: block; }
              view-element { display: none; }
              control-panel { display: block; }
              block-content {
                widget {
                  .widget-selector {
                    display: block;
                  }
                }
              }
            }
            edit-element { display: none; }
            &:hover {
              control-panel { display: block; }
            }
          }
        }
      }
      translate-comparative {
        float: left;
        width: 100%;
        .new-item {
          float: left;
          width: 100%;
          input {
            float: left;
            width: 40%;
            margin: 10px 10px 0 0;
          }
          add {
            float: left;
            width: 10px;
            height: 10px;
            cursor: pointer;
            color: #2b542c;
            margin: 14px 0 0 0;
          }
        }
        list {
          float: left;
          width: 50%;
          item {
            .remove {
              font-size: 10px;
              float: right;
              width: 10px;
              height: 10px;
              margin: 4px 10px 0 0;
              cursor: pointer;
              color: #eee;
            }
            &:hover {
              .remove {
                color: #942a25;
              }
            }
          }
        }
        answers {
          float: left;
          width: 50%;
        }
        list, answers {
          item {
            float: left;
            width: 100%;
            padding: 5px;
          }
        }
      }
      image-description {
        float: left;
        width: 100%;
        descs {
          float: left;
          width: 100%;
          padding: 10px 0 0 0;
          item {
            float: left;
            width: 50%;
          }
        }
        images {
          float: left;
          width: 100%;
          item {
            float: left;
            width: 100px;
            height: 100px;
            margin: 0 1px 1px 0;
            background: #ccc;
            &:hover {
              .glyphicon-remove {
                color: #777;
              }
            }
            .glyphicon-remove {
              float: right;
              font-size: 12px;
              color: #ccc;
              margin: 5px 5px 0 0;
              cursor: pointer;
            }
          }
        }
        .add-image {
          position: relative;
          cursor: pointer;
          float: left;
          width: 100px;
          height: 100px;
          background: #ccc;
          text-shadow: 1px 1px 0 #fff;
          font-size: 30px;
          .glyphicon {
            position: absolute;
            top: 37px;
            left: 37px;
          }
        }
      }
    }
  }
}

.file-manager {
  display: none;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0; left : 0;
  background: rgba(0, 0, 0 , 0.3);
  .nav {
    float: left;
    width: 100%;
    .form-group {
      float: right;
      margin: 10px 0 0 0;
      label {
        float: left;
        margin: 3px 10px 0 0;
        cursor: pointer;
        .glyphicon {
          margin: 0 5px 0 0;
        }
      }
      input {
        float: left;
      }
    }
  }
  .window {
    float: left;
    width: 800px;
    height: 400px;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -400px;
    padding: 30px;
    .close {
      float: right;
      width: 10px;
      height: 10px;
      margin: -20px -10px 0 0;
      cursor: pointer;
    }
    .list {
      float: left;
      width: 60%;
      padding: 20px 0 0 0;
      .item {
        float: left;
        width: 48%;
        margin: 0 2% 10px 0;
        font-size: 12px;
        color: #555;
        padding: 8px 0 7px 33px;
        cursor: pointer;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: left middle;
        background-image: url('/img/file-ico/_blank.png');
        &.png { background-image: url('/img/file-ico/png.png'); }
        &.jpg { background-image: url('/img/file-ico/jpg.png'); }
        &.gif { background-image: url('/img/file-ico/gif.png'); }
        &.mp3 { background-image: url('/img/file-ico/mp3.png'); }
        &.mp4 { background-image: url('/img/file-ico/mp4.png'); }
        &.selected { font-weight: bold; }
      }
    }
    .player {
      float: left;
      width: 40%;
      padding: 20px 0 0 0;
    }
    #images .player {
      height: 200px;
      .display {
        float: left;
        border: solid 1px #ddd;
        width: 90%;
        height: 100%;
        margin: 0 0 0 10%;
        background-size: 100% auto;
      }
      .buttons {
        float: left;
        width: 100%;
        padding: 10px 10% 0 10%;
      }
    }
  }
}

@import '../template/scss/style';