e-text-book-editor .display, .e-text-book-viewer {
  e-text-book {
    float: left;
    width: 100%;
    module {
      float: left;
      width: 100%;
      module-title {
        float: left;
        width: 28%;
        height: 150px;
        background: #2b542c;
        color: #fff;
        vertical-align: middle;
        font-size: 25px;
        view-element {
          display: table-cell;
          padding: 0 0 0 20px;
          width: 100%;
          height: 150px;
          vertical-align: middle;
        }
      }
      module-background-image {
        float: left;
        width: 72%;
        height: 150px;
        border: solid 1px #2b542c;
      }
      module-questions {
        float: left;
        clear: left;
        width: 28%;
        height: 130px;
        border: solid 1px #2b542c;
        border-width: 0 0 1px 1px;
        view-element {
          display: table-cell;
          padding: 0 0 0 20px;
          height: 130px;
          vertical-align: middle;
          font-size: 12px;
        }
      }
      module-description {
        float: left;
        width: 72%;
        height: 130px;
        border: solid 1px #2b542c;
        border-width: 0 1px 1px 1px;
        view-element {
          display: table-cell;
          padding: 0 0 0 20px;
          height: 130px;
          vertical-align: middle;
          font-size: 12px;
        }
      }
    }
    blocks {
      float: left;
      padding: 20px 0 0 0;
      width: 100%;
      rule {
        float: left;
        margin: 0 0 15px 0;
        width: 100%;
        rule-title {
          float: left;
          padding: 30px;
          width: 100%;
          background: #ccedcd;
        }
      }
      block {
        float: left;
        margin: 0 0 20px 0;
        padding: 0 0 20px 0 0;
        width: 100%;
        block-index {
          float: left;
          width: 3%;
          height: 30px;
        }
        block-categories {
          float: left;
          width: 17%;
          height: 30px;
          block-category {
            float: left;
            width: 30px;
            height: 30px;
          }
        }
        block-title {
          float: left;
          width: 80%;
          font-weight: bold;
          font-size: 13px;
        }
        block-content {
          float: left;
          padding: 0 0 0 21%;
          width: 100%;
          widget {
            float: left;
            padding: 10px 0 0 0;
            width: 100%;
          }
        }
        translate-comparative {
          float: left;
          width: 100%;
          list {
            float: left;
            width: 50%;
          }
          answers {
            float: left;
            width: 50%;
          }
          list, answers {
            item {
              position: relative;
              float: left;
              clear: both;
              margin: 0 0 5px -7px;
              padding: 0 7px;
              cursor: pointer;
              &.selected {
                background: #ddd;
              }
              &.success {
                background: #89d489;
              }
              &.failed {
                background: #e47A75;
              }
            }
          }
        }
      }
    }
  }
}

image-description {
  float: left;
  width: 100%;
  images {
    float: left;
    width: 100%;
    item {
      float: left;
      margin: 0 5px 0 0;
      width: 100px;
      image-title {
        float: left;
        width: 100%;
      }
      image-view {
        float: left;
        width: 100px;
        height: 100px;
        background: no-repeat center center;
        background-size: 100% auto;
        span {
          padding: 2px 5px;
          border: solid 1px #398439;
          font-size: 12px;
        }
      }
    }
  }
}

.e-text-book-viewer {
  image-description {
    images {
      item {
        image-title {
          display: none;
        }
      }
    }
    descs {
      float: left;
      padding: 10px 0 0 0;
      width: 100%;
      item {
        float: left;
        margin: 0 0 5px 0;
        width: 50%;
        select {
          margin: 0 5px 0 0;
          color: #000;
        }
        &.failed {
          background: #942a25;
          color: #fff;
        }
        &.success {
          background: #398439;
          color: #fff;
        }
      }
    }
  }
}

.e-text-book-viewer {
  audio-list {
    float: left;
    width: 100%;
    audio-item {
      float: left;
      clear: left;
      margin: 0 0 15px;
      width: 100%;
      video {
        float: left;
        width: 90%;
        height: 70px;
      }
    }
  }
  audio-description {
    float: left;
    width: 100%;
  }
}

.e-text-book-viewer {
  video-list {
    float: left;
    width: 100%;
    video-item {
      float: left;
      margin: 0 0 15px;
      width: 100%;
      video {
        float: left;
      }
    }
  }
  video-description {
    float: left;
    width: 100%;
  }
}

.e-text-book-viewer {
  logic-statement {
    float: left;
    width: 100%;
    item {
      float: left;
      margin: 0 0 10px 0;
      width: 100%;
      &.failed {
        background: #942a25;
        color: #fff;
      }
      &.success {
        background: #398439;
        color: #fff;
      }
      view-element {
        float: left;
        padding: 4px 0 0 10px;
        width: 80%;
      }
      select {
        float: left;
        margin: 0 0 0 2%;
        width: 18%;
        color: #000;
      }
    }
  }
}

.e-text-book-viewer {
  .check-endings {
    float: left;
    width: 100%;
    .words {
      .title {
        display: none;
      }
      .list {
        float: left;
        width: 100%;
        .item {
          float: left;
          padding: 5px;
          width: 50%;
          &.failed {
            background: #942a25;
            color: #fff;
          }
          &.success {
            background: #398439;
            color: #fff;
          }
          view-element {
            float: left;
          }
          select {
            float: left;
            color: #000;
          }
        }
      }
    }
    .endings-list {
      display: none;
    }
  }
}

.image-tall {
  background-size: auto 100% !important;
}

.image-wide {
  background-size: 100% auto !important;
}

.book {
  .page-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    overflow: visible;
    margin: 0;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    background: #fff;
    color: #7e888b;
    font-size: .85em;
    h1, h2 {
      overflow: hidden;
      margin: 0;
      padding-right: 200px;
      padding-left: 200px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 20px;
      line-height: 50px;
      -webkit-transition: margin-left .5s ease;
      transition: margin-left .5s ease;
    }
    .btn {
      position: relative;
      display: block;
      padding: 0 15px;
      height: 50px;
      border-bottom: 0;
      color: #7e888b;
      text-transform: uppercase;
      line-height: 50px;
    }
    .left {
      float: left !important;
    }
  }
  iframe[seamless] {
    overflow: hidden;
    padding: 0px;
    border: 0px none transparent;
    background-color: transparent;
  }
  .book-summary {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: -250px;
    z-index: 1;
    width: 250px;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    background: #fff;
    color: #c4cdd4;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    .summary {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow-y: auto;
      margin: 0;
      padding: 0;
      list-style: none;
      -webkit-transition: top .5s ease;
      transition: top .5s ease;

      li {
        list-style: none;
        .fa {
          display: inline-block;
          font-weight: normal;
          font-style: normal;
          font-family: 'Glyphicons Halflings';
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        .fa-check:before {
          content: "\e013";
        }

        a {
          position: relative;
          display: block;
          overflow: hidden;
          padding: 10px 15px;
          border-bottom: 0;
          background: transparent;
          color: #364149;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        ul {
          padding-left: 20px;
        }
        i.fa-check {
          position: absolute;
          top: 16px;
          right: 9px;
          display: none;
          color: #3c3;
          font-size: 9px;
        }
      }
      li.done {
        i.fa-check {
          display: inline;
        }
      }

      li.active a, li a:hover {
        background: transparent;
        color: #008cff;
        text-decoration: none;
      }
    }
  }
  .book-body {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    color: #000;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    e-text-book {
      display: block;
      float: none;
      clear: both;
      margin: 0 auto;
      padding-top: 20px;
      max-width: 800px;
    }
  }
}

.book.with-summary {
  .book-summary {
    left: 0;
  }
}
