.html5-controls
  float left
  clear left
  width 100%
  height 30px
  background rgba(0, 0, 0, 0.4)
  margin-left 5px
  cursor default
  display block
  position relative
  .play
    float left
    margin 6px 0 0 2%;
    width 5%
  .pause
    float left
    display none
    margin 5px 0 0 2%;
    font-size 16px
    width 5%
  .play-bar
    float left
    width 50%
    height 5px
    margin 13px 0 0 2%
    background #fff
    border-radius 3px
    overflow hidden
    text-shadow 1px 1px 0 rgba(0, 0, 0, 0.5)
    cursor: pointer
    .position
      float left
      width 0
      height 5px
      background #bbb
  .time
    float left
    width: 10%
    font-size 10px
    color #fff
    margin 8px 0 0 2%
    text-align center
  .mute
    width 5%
    float left
    margin 6px 0 0 2%
    font-size 16px
  .muted
    width 5%
    display none
    float left
    margin 6px 0 0 2%
    font-size 16px
  .volume
    float left
    width 10%
    margin 10px 0 0 2%
    cursor pointer
    .item
      float left
      width 2px
      height 10px
      background #fff
      margin 0 3px 0 0
  .full-screen
    float left
    margin 7px 0 0 2%
  .glyphicon
    color #ddd
    cursor pointer
    text-shadow 1px 1px 0 rgba(0, 0, 0, 0.5)
    &:hover
      color #fff