<ol class="breadcrumb" id="advance-control-panel">
    <li id="clearMSEntities">{% trans %}Очистить от вставок MS Office{% endtrans %}</li>
    <li id="convertInlineImages">Сохранить инлайн картинки в файлы</li>
    <li id="saveModule">{% trans %}Сохранить учебник{% endtrans %}</li>
</ol>
