{% extends '::lounge-template.html.twig' %}

{% block pageHeader %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'Учебники'|trans }}</h1>
        </div>
    </div>
{% endblock %}

{% block pageContent %}
    <div class="col-sm-12">
        <ul class="list-unstyled book-list">
            {% for book in books %}
                {% include 'eTextBookLoungeBundle:Book:public-book.html.twig' with {
                'book': book,
                'dir': '/publicBooks/'
                } %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}


