/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/node_modules
/bower_components
/.idea

/web/books/*
/web/tmp/*
/web/fonts

/web/css/main-style.css
/web/css/main-style.min.css
/web/book-template/css/main-style.css
/web/book-template/css/main-style.min.css

/web/js/script.js
/web/js/script.min.js
/web/book-template/js/script.js
/web/book-template/js/script.min.js
