/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/node_modules
/bower_components

web/books/*
web/tmp/*

web/css/main-style.css
web/css/main-style.min.css

web/js/script.js
web/js/script.min.js
