<div class="modal fade" id="bookFormModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Новый учебник</h4>
            </div>

            <form
                    ng-controller="App.bookForm.controller"
                    name="bookForm"
                    action="{{ path('book-create') }}"
                    edit-link="{{ path('book-edit', { 'slug' : ':slug', 'module': ':module' }) }}"
                >
                <div class="modal-body">
                    <div id="alertBox" style="display: none" class="alert alert-success" role="alert">QQQ</div>

                    <div class="book-cover">
                        <div class="form-group">
                            <label for="bookCover">Обложка:</label>
                            <div class="cover-view">
                                <input
                                    id="bookCover"
                                    type="file"
                                    name="cover"
                                    accept="image/jpeg"
                                    upload-action="{{ path('book-cover-upload') }}"
                                    ng-model="book.cover" />
                            </div>
                        </div>
                    </div>

                    <div class="book-info">
                        <div class="form-group">
                            <label for="bookTitle">
                                Название учебника:
                            <span class="label label-danger" ng-show="bookForm.title.$error.required">
                                обязательно для заполнения
                            </span>
                            </label>
                            <input autofocus="autofocus"
                                id="bookTitle"
                                class="form-control"
                                type="text"
                                name="title"
                                ng-model="book.title"
                                required />
                        </div>

                        <div class="form-group">
                            <label for="bookAuthors">
                                Авторы:
                            </label>
                            <input
                                id="bookAuthors"
                                class="form-control"
                                type="text"
                                ng-model="book.authors"
                                name="authors" />
                        </div>

                        <div class="form-group">
                            <label for="bookEditor">Под редакцией:</label>
                            <input
                                id="bookEditor"
                                class="form-control"
                                type="text"
                                name="editor"
                                ng-model="book.editor" />
                        </div>

                        <div class="form-group">
                            <label for="bookISBN">ISBN:</label>
                            <input
                                id="bookISBN"
                                class="form-control"
                                type="text"
                                name="isbn"
                                ng-model="book.isbn" />
                        </div>
                        <div class="form-group">
                            <label for="">
                                Файл книги (PDF, mobi, fb2, ...)
                                <span class="loading"></span>
                            </label>
                            <input
                                type="file"
                                id="bookFile"
                                name="book-file"
                                upload-action="{{ path('book-upload') }}"
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="bookFormClose" type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Закрыть
                    </button>
                    <button
                        id="bookFormSubmit"
                        type="button"
                        class="btn btn-primary"
                        ng-click="submit(book)"
                        ng-disabled="bookForm.$invalid || isUnchanged(book)">
                        <span class="glyphicon glyphicon-ok"></span>
                        Создать учебник
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>