{% extends '::lounge-template.html.twig' %}

{% block pageHeader %}
    <h1>Учебники</h1>
{% endblock %}

{% block pageContent %}
    <ul class="list-unstyled book-list">
        <li>
            <span class="glyphicon glyphicon-file"></span>
            <a id="addBookButton" href="#" data-toggle="modal" data-target="#bookFormModal"> Создать новый учебник </a>
            {% include 'eTextBookLoungeBundle:Book:form.html.twig' %}
        </li>
        <li> &nbsp; </li>
        {% for book in books %}
            <li>
                <span class="glyphicon glyphicon-book"></span>
                <a class="title" href="{{ path('book-edit', {'slug': book.slug, 'module': ' ' })  }}">
                    {{ book.title }}
                </a> <br />
                <span class="authors">{{ book.authors }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

