{% extends '::lounge-template.html.twig' %}

{% block pageHeader %}
    <div class="row">
        <div class="col-sm-9">
            <h1> Учебники </h1>
        </div>
        <div class="col-sm-3">
            {% if app.user %}
                <h1>Мои учебники</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block pageContent %}
   {% if app.user %}
       <div class="col-sm-9">
           {% include 'eTextBookLoungeBundle:Book:book-list.html.twig' with { 'books' : publicBooks } %}
       </div>
       <div class="col-sm-3 my-book-list">
           <div class="addBookContainer">
               <span class="glyphicon glyphicon-file"></span>
               <a id="addBookButton" href="#" data-toggle="modal" data-target="#bookFormModal"> Создать новый учебник </a>
               {% include 'eTextBookLoungeBundle:Book:form.html.twig' %}
           </div>
           {% include 'eTextBookLoungeBundle:Book:book-list.html.twig' with { 'books' : userBooks } %}
       </div>
   {% else %}
       <div class="col-sm-12">
           {% include 'eTextBookLoungeBundle:Book:book-list.html.twig' with { 'books' : publicBooks } %}
       </div>
   {% endif %}
{% endblock %}


