{% extends "::lounge-template.html.twig" %}

{% block pageHeader %}
    <h1>Смена пароля</h1>
{% endblock %}

{% block pageContent %}
    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock %}
