{% extends '::lounge-template.html.twig' %}

{% block pageHeader %}
    <h1>Ридеры</h1>
{% endblock %}

{% block pageContent %}
    <h2>Android ридер</h2>
    <p>
        Для того что бы читать книги на устройствах с операционной системой Android вам необходимо <a href="/ebook.apk">скачать</a> приложение и установить его на ваше устройство. <br />
        После установки, приложение на карте памяти вашего устройства создаст папку eTextBook, в которую в дальнейшем вы сможете загружать учебники формата .etb <br />
        Учебники можно скачать из <a href="{{ path('books') }}">репозитория</a>. <br />
    </p>
    <h2>Windows ридер</h2>
    <p>
        Для того что бы читать книги на устройствах с операционной системой Windows вам необходимо <a href="/ebook-setup.exe">скачать</a> приложение и установить его на ваше компьютер. <br />
        После установки в директории Program Files создастся папка "Электронные учебники", где будут храниться файлы приложения.
        Для добавления новых книг вы можете скачать их через приложение ридера или добавить уже имеющиеся книги формата .etb в папку Program Files\Электронные учебники\app\books<br />
        Учебники можно скачать из <a href="{{ path('books') }}">репозитория</a>. <br />
    </p>
{% endblock %}