{% extends '::lounge-template.html.twig' %}

{% block pageHeader %}
    <h1>{% trans %}Ридеры{% endtrans %}</h1>
{% endblock %}

{% block pageContent %}
    <h2>{% trans %}Android ридер{% endtrans %}</h2>
    <p>
        {% trans %}
        Текст для андроид ридера
        {% endtrans %}
    </p>
    <h2>
        {% trans %}
        Windows ридер
        {% endtrans %}
    </h2>
    <p>
        {% trans %}
        Текст для windows ридера
        {% endtrans %}
    </p>
{% endblock %}