body {
  padding: 0;
  margin: 0;
}

h4 {
  margin: 20px 0;
}

.chapter {
  span {
    display: block;
    padding: 0 0 0 10px;
    font-size: 12px;
    line-height: 16px;
  }
}

.test-options {
  list-style: lower-latin;
}

.question {
  font-style: italic;
}

.ebook-editor {
  float: left;
  margin: 20px 0 0 0;
}