{% extends '::lounge-template.html.twig' %}

{% block pageHeader %} О проекте {% endblock %}

{% block pageContent %}
    <div class="col-md-6">
        <h3>Обоснование проекта:</h3>
        <p>Несмотря на то, что ежегодно на разработку новых учебников из республиканского бюджета выделяется 100 млн сомов, обеспеченность школ учебниками на сегодняшний день составляет менее 40%. Дефицит учебников для четырех языковых групп, по которым осуществляется обучение в Кыргызстане, составляет около 8 млн экземпляров. На их тиражирование требуется в год более 600 млн сомов.</p>
        <p>Физическая нехватка учебников усугубляется еще и устаревшим содержанием многих учебников, в школьных библиотеках республики имеется более 60% физически изношенной и морально устаревшей учебной литературы, то есть в учебном процессе используются издания, не соответствующие санитарно-гигиеническим нормам и требованиям современных программ.</p>
        <p>В то же время, возможности новых технологий, в частности внедрение электронных учебников в образовательный процесс, позволяют эффективно бороться с обозначенными выше проблемами в сфере обеспеченности учебниками. Достоинствами электронного учебника является дешевизна его воспроизведения и удобство распространения. При этом преподаватели и учащиеся получают возможность самостоятельно выбирать между привычной бумажной учебной литературой и ее цифровой копией. Отличительными особенностями электронных учебных пособий являются интерактивная и мультимедийная составляющие. Представленные в учебниках материалы дополняются системой поиска, перекрестными ссылками между разными курсами и предметами, аудио- и видеоконтентом, тестовыми заданиями, а также прочими расширяющими кругозор и упрощающими учебный процесс инновационными решениями.</p>
        <p>Электронные учебники способствуют лучшему усвоению школьниками учебного материала как на занятиях, так и в домашних условиях.  Практическое использование электронных учебников позволяет оперативно и с незначительными затратами обновлять учебные материалы, что нельзя сделать с печатными книгами.</p>
    </div>
    <div class="col-md-6">
        <h3>Целью проекта:</h3>
        <p>является создание условий для пилотирования первых электронных учебников в системе школьного образования Кыргызской республики. Существующие редакторы электронных книг пока не позволяют обычным пользователям создавать красочные иллюстрации или структурировать текст в соответствии со структурой учебника. На первом этапе нам нужно будет сконцентрироваться на создании примера электронного учебника и определении методики и технологии создания. По результатам этой работы можно будет автоматизировать процесс, разработав соответствующие инструменты.</p>
        <h3>Задачи проекта включают в себя следующее:</h3>
        <p>1. Разработать кросплатформенного редактора для создания электронных учебников,  которые можно будет использовать как на персональном компьютере, так и на Android устройствах;</p>
        <p>2. Разработка первого электронного учебника ручной версткой с параллельным тестированием. Выявление закономерностей верстки и оформления, их формализация.</p>
        <p>3. Создания инструкций пользования электронного учебника для успешного внедрения в обучающий процесс.</p>
    </div>
{% endblock %}