{% extends '::lounge-template.html.twig' %}

{% block pageHeader %}
    <h1>Ридеры</h1>
{% endblock %}

{% block pageContent %}
    <h2>Android ридер</h2>
    <p>
        Для того что бы читать книги на устройствах с операционной системой Android вам необходимо <a href="/ebook.apk">скачать</a> приложение и установить его на ваше устройство. <br />
        После установки, приложение на карте памяти вашего устройства создаст папку eTextBook, в которую в дальнейшем вы сможете загружать учебники формата .etb <br />
        Учебники можно скачать из <a href="{{ path('books') }}">репозитория</a>. <br />
    </p>
{% endblock %}