<nav class="navbar navbar-default main-menu" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li {% if app.request.attributes.get('_route') == 'home-page' %} class="active" {% endif %}>
                <a href="{{ path('home-page') }}">О проекте</a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'books' %} class="active" {% endif %}>
                <a href="{{ path('books') }}">Учебники</a>
            </li>
            <li>
                <a href="#">Авторам</a>
            </li>
        </ul>
    </div>
</nav>