e-text-book-editor .display e-text-book, .e-text-book-viewer e-text-book {
  float: left;
  width: 100%; }
  e-text-book-editor .display e-text-book module, .e-text-book-viewer e-text-book module {
    float: left;
    width: 100%; }
    e-text-book-editor .display e-text-book module module-title, .e-text-book-viewer e-text-book module module-title {
      float: left;
      width: 28%;
      height: 150px;
      vertical-align: middle;
      font-size: 25px;
      background: #2b542c;
      color: #fff; }
      e-text-book-editor .display e-text-book module module-title view-element, .e-text-book-viewer e-text-book module module-title view-element {
        display: table-cell;
        vertical-align: middle;
        height: 150px;
        width: 100%;
        padding: 0 0 0 20px; }
    e-text-book-editor .display e-text-book module module-background-image, .e-text-book-viewer e-text-book module module-background-image {
      float: left;
      width: 72%;
      height: 150px;
      border: solid 1px #2b542c; }
    e-text-book-editor .display e-text-book module module-questions, .e-text-book-viewer e-text-book module module-questions {
      float: left;
      clear: left;
      width: 28%;
      height: 130px;
      border: solid 1px #2b542c;
      border-width: 0 0 1px 1px; }
      e-text-book-editor .display e-text-book module module-questions view-element, .e-text-book-viewer e-text-book module module-questions view-element {
        display: table-cell;
        height: 130px;
        vertical-align: middle;
        padding: 0 0 0 20px;
        font-size: 12px; }
    e-text-book-editor .display e-text-book module module-description, .e-text-book-viewer e-text-book module module-description {
      float: left;
      width: 72%;
      height: 130px;
      border: solid 1px #2b542c;
      border-width: 0 1px 1px 1px; }
      e-text-book-editor .display e-text-book module module-description view-element, .e-text-book-viewer e-text-book module module-description view-element {
        display: table-cell;
        height: 130px;
        vertical-align: middle;
        padding: 0 0 0 20px;
        font-size: 12px; }
  e-text-book-editor .display e-text-book blocks, .e-text-book-viewer e-text-book blocks {
    float: left;
    width: 100%;
    padding: 20px 0 0 0; }
    e-text-book-editor .display e-text-book blocks block, .e-text-book-viewer e-text-book blocks block {
      float: left;
      width: 100%;
      padding: 0 0 20px 0 0;
      margin: 0 0 20px 0; }
      e-text-book-editor .display e-text-book blocks block block-index, .e-text-book-viewer e-text-book blocks block block-index {
        float: left;
        width: 3%;
        height: 30px; }
      e-text-book-editor .display e-text-book blocks block block-categories, .e-text-book-viewer e-text-book blocks block block-categories {
        float: left;
        width: 17%;
        height: 30px; }
        e-text-book-editor .display e-text-book blocks block block-categories block-category, .e-text-book-viewer e-text-book blocks block block-categories block-category {
          float: left;
          width: 30px;
          height: 30px; }
      e-text-book-editor .display e-text-book blocks block block-title, .e-text-book-viewer e-text-book blocks block block-title {
        float: left;
        font-weight: bold;
        font-size: 13px;
        width: 80%; }
      e-text-book-editor .display e-text-book blocks block block-content, .e-text-book-viewer e-text-book blocks block block-content {
        float: left;
        width: 100%;
        padding: 0 0 0 21%; }
        e-text-book-editor .display e-text-book blocks block block-content widget, .e-text-book-viewer e-text-book blocks block block-content widget {
          float: left;
          width: 100%;
          padding: 10px 0 0 0; }
      e-text-book-editor .display e-text-book blocks block translate-comparative, .e-text-book-viewer e-text-book blocks block translate-comparative {
        float: left;
        width: 100%; }
        e-text-book-editor .display e-text-book blocks block translate-comparative list, .e-text-book-viewer e-text-book blocks block translate-comparative list {
          float: left;
          width: 50%; }
        e-text-book-editor .display e-text-book blocks block translate-comparative answers, .e-text-book-viewer e-text-book blocks block translate-comparative answers {
          float: left;
          width: 50%; }
        e-text-book-editor .display e-text-book blocks block translate-comparative list item, e-text-book-editor .display e-text-book blocks block translate-comparative answers item, .e-text-book-viewer e-text-book blocks block translate-comparative list item, .e-text-book-viewer e-text-book blocks block translate-comparative answers item {
          float: left;
          width: 100%;
          margin: 0 0 5px 0; }
