e-text-book-editor .display e-text-book, .e-text-book-viewer e-text-book {
  float: left;
  width: 100%; }
  e-text-book-editor .display e-text-book module, .e-text-book-viewer e-text-book module {
    float: left;
    width: 100%; }
    e-text-book-editor .display e-text-book module module-title, .e-text-book-viewer e-text-book module module-title {
      float: left;
      width: 28%;
      height: 150px;
      vertical-align: middle;
      font-size: 25px;
      background: #2b542c;
      color: #fff; }
      e-text-book-editor .display e-text-book module module-title view-element, .e-text-book-viewer e-text-book module module-title view-element {
        display: table-cell;
        vertical-align: middle;
        height: 150px;
        width: 100%;
        padding: 0 0 0 20px; }
    e-text-book-editor .display e-text-book module module-background-image, .e-text-book-viewer e-text-book module module-background-image {
      float: left;
      width: 72%;
      height: 150px;
      border: solid 1px #2b542c; }
    e-text-book-editor .display e-text-book module module-questions, .e-text-book-viewer e-text-book module module-questions {
      float: left;
      clear: left;
      width: 28%;
      height: 130px;
      border: solid 1px #2b542c;
      border-width: 0 0 1px 1px; }
      e-text-book-editor .display e-text-book module module-questions view-element, .e-text-book-viewer e-text-book module module-questions view-element {
        display: table-cell;
        height: 130px;
        vertical-align: middle;
        padding: 0 0 0 20px;
        font-size: 12px; }
    e-text-book-editor .display e-text-book module module-description, .e-text-book-viewer e-text-book module module-description {
      float: left;
      width: 72%;
      height: 130px;
      border: solid 1px #2b542c;
      border-width: 0 1px 1px 1px; }
      e-text-book-editor .display e-text-book module module-description view-element, .e-text-book-viewer e-text-book module module-description view-element {
        display: table-cell;
        height: 130px;
        vertical-align: middle;
        padding: 0 0 0 20px;
        font-size: 12px; }
  e-text-book-editor .display e-text-book blocks, .e-text-book-viewer e-text-book blocks {
    float: left;
    width: 100%;
    padding: 20px 0 0 0; }
    e-text-book-editor .display e-text-book blocks rule, .e-text-book-viewer e-text-book blocks rule {
      float: left;
      width: 100%;
      margin: 0 0 15px 0; }
      e-text-book-editor .display e-text-book blocks rule rule-title, .e-text-book-viewer e-text-book blocks rule rule-title {
        float: left;
        width: 100%;
        padding: 30px;
        background: #ccedcd; }
    e-text-book-editor .display e-text-book blocks block, .e-text-book-viewer e-text-book blocks block {
      float: left;
      width: 100%;
      padding: 0 0 20px 0 0;
      margin: 0 0 20px 0; }
      e-text-book-editor .display e-text-book blocks block block-index, .e-text-book-viewer e-text-book blocks block block-index {
        float: left;
        width: 3%;
        height: 30px; }
      e-text-book-editor .display e-text-book blocks block block-categories, .e-text-book-viewer e-text-book blocks block block-categories {
        float: left;
        width: 17%;
        height: 30px; }
        e-text-book-editor .display e-text-book blocks block block-categories block-category, .e-text-book-viewer e-text-book blocks block block-categories block-category {
          float: left;
          width: 30px;
          height: 30px; }
      e-text-book-editor .display e-text-book blocks block block-title, .e-text-book-viewer e-text-book blocks block block-title {
        float: left;
        font-weight: bold;
        font-size: 13px;
        width: 80%; }
      e-text-book-editor .display e-text-book blocks block block-content, .e-text-book-viewer e-text-book blocks block block-content {
        float: left;
        width: 100%;
        padding: 0 0 0 21%; }
        e-text-book-editor .display e-text-book blocks block block-content widget, .e-text-book-viewer e-text-book blocks block block-content widget {
          float: left;
          width: 100%;
          padding: 10px 0 0 0; }
      e-text-book-editor .display e-text-book blocks block translate-comparative, .e-text-book-viewer e-text-book blocks block translate-comparative {
        float: left;
        width: 100%; }
        e-text-book-editor .display e-text-book blocks block translate-comparative list, .e-text-book-viewer e-text-book blocks block translate-comparative list {
          float: left;
          width: 50%; }
        e-text-book-editor .display e-text-book blocks block translate-comparative answers, .e-text-book-viewer e-text-book blocks block translate-comparative answers {
          float: left;
          width: 50%; }
        e-text-book-editor .display e-text-book blocks block translate-comparative list item, e-text-book-editor .display e-text-book blocks block translate-comparative answers item, .e-text-book-viewer e-text-book blocks block translate-comparative list item, .e-text-book-viewer e-text-book blocks block translate-comparative answers item {
          float: left;
          clear: both;
          margin: 0 0 5px -7px;
          padding: 0 7px;
          position: relative;
          cursor: pointer; }
          e-text-book-editor .display e-text-book blocks block translate-comparative list item.selected, e-text-book-editor .display e-text-book blocks block translate-comparative answers item.selected, .e-text-book-viewer e-text-book blocks block translate-comparative list item.selected, .e-text-book-viewer e-text-book blocks block translate-comparative answers item.selected {
            background: #ddd; }
          e-text-book-editor .display e-text-book blocks block translate-comparative list item.success, e-text-book-editor .display e-text-book blocks block translate-comparative answers item.success, .e-text-book-viewer e-text-book blocks block translate-comparative list item.success, .e-text-book-viewer e-text-book blocks block translate-comparative answers item.success {
            background: #89d489; }
          e-text-book-editor .display e-text-book blocks block translate-comparative list item.failed, e-text-book-editor .display e-text-book blocks block translate-comparative answers item.failed, .e-text-book-viewer e-text-book blocks block translate-comparative list item.failed, .e-text-book-viewer e-text-book blocks block translate-comparative answers item.failed {
            background: #e47A75; }

image-description {
  float: left;
  width: 100%; }
  image-description images {
    float: left;
    width: 100%; }
    image-description images item {
      width: 100px;
      float: left;
      margin: 0 5px 0 0; }
      image-description images item image-title {
        float: left;
        width: 100%; }
      image-description images item image-view {
        float: left;
        width: 100px;
        height: 100px;
        background: no-repeat center center;
        background-size: 100% auto; }
        image-description images item image-view span {
          border: solid 1px #398439;
          padding: 2px 5px;
          font-size: 12px; }

.e-text-book-viewer image-description images item image-title {
  display: none; }
.e-text-book-viewer image-description descs {
  float: left;
  width: 100%;
  padding: 10px 0 0 0; }
  .e-text-book-viewer image-description descs item {
    float: left;
    width: 50%;
    margin: 0 0 5px 0; }
    .e-text-book-viewer image-description descs item select {
      margin: 0 5px 0 0;
      color: #000; }
    .e-text-book-viewer image-description descs item.failed {
      background: #942a25;
      color: #fff; }
    .e-text-book-viewer image-description descs item.success {
      background: #398439;
      color: #fff; }

.e-text-book-viewer audio-list {
  float: left;
  width: 100%; }
  .e-text-book-viewer audio-list audio-item {
    float: left;
    width: 100%;
    margin: 0 0 15px; }
.e-text-book-viewer audio-description {
  float: left;
  width: 100%; }

.e-text-book-viewer video-list {
  float: left;
  width: 100%; }
  .e-text-book-viewer video-list video-item {
    float: left;
    width: 100%;
    margin: 0 0 15px; }
    .e-text-book-viewer video-list video-item video {
      float: left; }
.e-text-book-viewer video-description {
  float: left;
  width: 100%; }

.e-text-book-viewer logic-statement {
  float: left;
  width: 100%; }
  .e-text-book-viewer logic-statement item {
    float: left;
    width: 100%;
    margin: 0 0 10px 0; }
    .e-text-book-viewer logic-statement item.failed {
      background: #942a25;
      color: #fff; }
    .e-text-book-viewer logic-statement item.success {
      background: #398439;
      color: #fff; }
    .e-text-book-viewer logic-statement item view-element {
      float: left;
      width: 80%;
      padding: 4px 0 0 10px; }
    .e-text-book-viewer logic-statement item select {
      float: left;
      width: 18%;
      margin: 0 0 0 2%;
      color: #000; }

.e-text-book-viewer .check-endings {
  float: left;
  width: 100%; }
  .e-text-book-viewer .check-endings .words .title {
    display: none; }
  .e-text-book-viewer .check-endings .words .list {
    float: left;
    width: 100%; }
    .e-text-book-viewer .check-endings .words .list .item {
      float: left;
      width: 50%;
      padding: 5px; }
      .e-text-book-viewer .check-endings .words .list .item.failed {
        background: #942a25;
        color: #fff; }
      .e-text-book-viewer .check-endings .words .list .item.success {
        background: #398439;
        color: #fff; }
      .e-text-book-viewer .check-endings .words .list .item view-element {
        float: left; }
      .e-text-book-viewer .check-endings .words .list .item select {
        float: left;
        color: #000; }
  .e-text-book-viewer .check-endings .endings-list {
    display: none; }
