{% extends "::lounge-template.html.twig" %}

{% block pageHeader %}
    <h1>Документация</h1>
{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-sm-4">
            {% include 'eTextBookLoungeBundle:Documentation:menu.html.twig' %}
        </div>
        <div class="col-sm-8">
            <h2>Создание нового учебника</h2>
            <p>
                Для того чтобы создать новый учебник, вам необходимо перейти на страницу списка учебником (ссылка "Учебники" в верхнем меню).
                На странице списка, в заголовке "учебники" справа кликнуть по ссылке "Создать новый учебник".
                Откроется форма для добавления учебника. Поле "заголовок" в форме является обязательным. Желательно заполнить все поля формы, а так же выбрать обложку для книги.<br />
                Файл для обложки должен присутствовать на вашем компьютере чтобы вы могли выбрать его. Когда все поля будут заполнены, нажмите кнопку "Создать" в нижней части формы.
            </p>
            <p>
                В случае если все прошло удачно, в верхней части формы отобразиться сообщение на зеленом фоне, что учебник успешно создан.
                Теперь вы можете нажать кнопку закрыть или же кликнуть по пустой области вне формы, форма закроется.
                В списке учебников отобразится ваш только что созданный учебник.
                Кликните по кнопке "редактировать", чтобы перейти на страницу редактирования.
            </p>
        </div>
    </div>

{% endblock %}