{% extends "::lounge-template.html.twig" %}

{% block pageHeader %}
    <h1>Документация</h1>
{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-sm-4">
            {% include 'eTextBookLoungeBundle:Documentation:menu.html.twig' %}
        </div>
        <div class="col-sm-8">
            <h2>Доступ к редактированию</h2>
            <p>
                Того что бы начать работу с редактором, вам необходимо пройти авторизацию, на сервере. <br />
                Для этого надо кликнуть по ссылке "Войти" расположенной в правом верхнем углу страницы. <br />
                После чего отобразится форма авторизации, в ней укажите лоигн пароль. <br />
                В случае если логин и пароль акажутся верными, в правом верхнем углу страницы ссылка "Войти" измениться на "Выйти".
            </p>
            <p>
                Так же на странице со списком учебников, под каждым учебником отобразяться управляющие кнопки.
                Вы можете <a href="{{ path('documentation-create-book') }}">создать новый учебник</a>, или же начать редактировать один из уже имеющихся.
                Для того что бы приступить к редактированию, кликните по кнопке "редатировать", под целевым учебником.
            </p>
        </div>
    </div>
{% endblock %}