<ul class="list-unstyled">
    <li>
        <a href="{{ path('documentation') }}">Доступ к редактированию</a>
    </li>
    <li>
        <a href="{{ path('documentation-create-book') }}">Созание нового учебника</a>
    </li>
    {#<li>#}
        {#<a href="#">Link</a>#}
    {#</li>#}
</ul>