    {% extends 'eTextBookSpawnBundle::layout.html.twig' %}

{% block pageContent -%}
    <div class="page-header">
        <h1>
            User edit
            <a href="{{ path('spawn_user') }}" class="btn btn-primary">
                Back to the list
            </a>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% form_theme edit_form with "SensioGeneratorBundle:Form:fields.html.twig" %}
            {{ form(edit_form) }}
        </div>
    </div>

{% endblock %}
