/*
Syntax error: Invalid CSS after "  .book-body {": expected "}", was "<<<<<<< HEAD"
        on line 455 of ../book-template/scss/style.scss
        from line 874 of style.scss

450:         text-decoration: none;
451:       }
452:     }
453:   }
454:   .book-body {
455: <<<<<<< HEAD
456: =======
457:     width: 100%;
458: >>>>>>> origin/master
459:     position: absolute;
460:     top: 50px;

Backtrace:
../book-template/scss/style.scss:455
style.scss:874
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:1314:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:1248:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:1243:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:642:in `block'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:635:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:697:in `block in declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:1288:in `call'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:1288:in `rethrow'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:698:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:660:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:652:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:641:in `block'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:635:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:659:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:652:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:116:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/engine.rb:409:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/engine.rb:305:in `to_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/stack.rb:121:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/stack.rb:121:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:152:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:151:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/engine.rb:274:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `each'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/exec.rb:489:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/exec.rb:346:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/exec.rb:43:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/exec.rb:22:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.3.10/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  .book-body {\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 455 of ../book-template/scss/style.scss\A         from line 874 of style.scss\A \A 450:         text-decoration: none;\A 451:       }\A 452:     }\A 453:   }\A 454:   .book-body {\A 455: <<<<<<< HEAD\A 456: =======\A 457:     width: 100%;\A 458: >>>>>>> origin/master\A 459:     position: absolute;\A 460:     top: 50px;"; }
