/*
Syntax error: Invalid CSS after "    color: #333;": expected "}", was "< < < < < < < U..."
        on line 763 of style.scss

758: }
759: 
760: .book-list {
761:   a {
762:     color: #333;
763:   < < < < < < < Updated upstream < < < < < < < Updated upstream text-decoration:none;
764:   }
765:   li {
766:     margin: 0 0 5px 0;
767:   }
768:   span.glyphicon {

Backtrace:
style.scss:763
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:1314:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:1248:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:1243:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:642:in `block'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:635:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:697:in `block in declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:1288:in `call'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:1288:in `rethrow'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:698:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:660:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:649:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:641:in `block'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:635:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:659:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:652:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:116:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/scss/parser.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/engine.rb:409:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/engine.rb:274:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `each'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/exec.rb:489:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/exec.rb:346:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/exec.rb:43:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.3.10/lib/sass/exec.rb:22:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.3.10/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    color: #333;\": expected \"}\", was \"< < < < < < < U...\"\A         on line 763 of style.scss\A \A 758: }\A 759: \A 760: .book-list {\A 761:   a {\A 762:     color: #333;\A 763:   < < < < < < < Updated upstream < < < < < < < Updated upstream text-decoration:none;\A 764:   }\A 765:   li {\A 766:     margin: 0 0 5px 0;\A 767:   }\A 768:   span.glyphicon {"; }
