{% extends "::lounge-template.html.twig" %}

{% block pageHeader %}
    <h1>
        {% trans %}
        Документация
        {% endtrans %}
    </h1>
{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-sm-4">
            {% include 'eTextBookLoungeBundle:Documentation:menu.html.twig' %}
        </div>
        <div class="col-sm-8">
            <h2>
                {% trans %}
                Доступ к редактированию
                {% endtrans %}
            </h2>

            <p>
                {% trans %}
                Доступ к редактированию текст1
                {% endtrans %}
            </p>

            <p>
                {% trans %}
                Доступ к редактированию текст2
                {% endtrans %}
            </p>
        </div>
    </div>
{% endblock %}