{% extends "eTextBookLoungeBundle:Documentation:layout.html.twig" %}

{% block pageHeader %}
    <h1>
        {% trans %}
            Работа с редактором
        {% endtrans %}
    </h1>
{% endblock %}

{% block docContent %}
    <h3 class="header-without-top-margin">Для кого предназначен редактор электронных учебников?</h3>
    <p>
        Редактор предназначен для любых персон формирующих обучающий материал.
        Вы можете быть составителем учебников, который профессионально работает над созданием обучающих материалов, или учителем в школе, университете, которому необходимо подготовить справочный материал для своих учеников.
    </p>

    <p>
        Редактор был опробован в действие. Учителями был создан учебник для 7-го класса по Кыргызскому языку. Вы можете посмотреть результат работы в разделе "<a href="{{ path('books') }}">Учебники</a>"
    </p>

    <h3>Как ученики смогут пользоваться моим учебником?</h3>
    <p>
        Для чтения книг ученики могут использовать два приложения.
        Одно приложение было создано под операционную систему Windows (на Windows работает большинство компьютеров), второе было создано в виде приложения для операционной системы Android.
        Большинство современных телефон работает на Android. Загрузить приложения на свои компьютеры и телефоны или планшеты ученики могут с сайта редактора из раздела "<a href="{{ path('readers') }}">Ридеры</a>".
    </p>

    <p>
        В случае если есть нужда просмотреть учебник на других операционных системах это возможно сделать с помощью браузера на сайте редактора учебником в онлайн режиме.
    </p>

    <p>Так же предусмотрен вариант печатной версии. При публикации учебника формируется pdf файл который в последствие можно будет распечатать на принтере, весь или частями.</p>

    <p>
        После публикации ваш учебник будет доступен на телефонах и компьютерах учеников и одним кликом они смогут скачать учебник и приступить к его чтению.
        В редакторе предусмотрена возможность скачать учебник и в режиме офлайн(без интернета) загрузить его на компьютер или телефон в местах где нет доступа к интернету.
    </p>

    <h3>Какие учебники можно создавать в редакторе?</h3>
    <p>
        Минимальное что может предоставить редактор это оформление текста и картинок. То есть как минимум вы можете в электронной форме оформить любой аналог бумажного учебника.
        Дополнив его видео и аудио материалами.
    </p>
    <p>
        Преимущество имеют учебники языковых предметов. Для языковых предметов разработаны инструменты для формирования интерактивных упражнений в которых ученик может проверить себя.
    </p>
    <h3>Что нужно для начала работ?</h3>
    <p>Для того, что бы приступить к работе с редактором, все что вам нужно это компьютер подключенный к интернету и браузер (Google Chrome, FireFox, Internet Explorer 10)</p>
    <p>
        Первым делом необходимо пройти регистрацию для получения учетной записи.
        Для того что бы редактор понимал, что созданные книги принадлежат вам и редактировать их можете только вы или те кому вы предоставите права на редактирование.
        Как пройти регистрацию подробно описано в этом <a href="{{ path('documentation-register') }}">разделе</a>.
    </p>
    <h3>По возникающим вопросам</h3>
    <p>
    <p>
        В случае возникновения каких-либо вопросов вы можете задать их в <a href="https://groups.google.com/forum/#!forum/kg-etextbook-editor-issues" target="_blank">группе поддержки</a>, отправив свой вопрос по электронной почте на адрес <br />
        <a href="mailto:kg-etextbook-editor-issues@googlegroups.com">kg-etextbook-editor-issues@googlegroups.com</a>
    </p>
    </p>
    <a href="{{ path('documentation-register') }}" class="btn btn-primary pull-right">Пошаговая инструкция по работе с редактором</a>
{% endblock %}