<ul class="list-unstyled">
    <li>
        <a href="{{ path('documentation') }}">
            {% trans %}
            Доступ к редактированию
            {% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('documentation-create-book') }}">
            {% trans %}
            Создание нового учебника
            {% endtrans %}
        </a>
    </li>
    {#<li>#}
    {#<a href="#">Link</a>#}
    {#</li>#}
</ul>