{% extends 'eTextBookLoungeBundle:Documentation:layout.html.twig' %}

{% block pageHeader %}
    <h1>Добавление модулей</h1>
{% endblock %}

{% block docContent %}

    <p>
        Редактор формирует модульную структуру книги. Модули можно ассоциировать с темами из старых форматов книг.
        Для примера возьмем первый модуль из учебника 7-го класса по Кыргызскому языку.
        В редакторе подразумевается, что модуль будет содержать три информационных поля: <br />
        1. Название модуля <br/>
        2. Ключевые вопросы <br/>
        3. Краткое описание <br/>
        Теперь когда у вас есть созданный учебник. Давай добавим в него первый модуль. Созданный вами учебник доступен в разделе "Мои учебники".
        Вам необходимо кликнуть по кнопке "Редактировать учебник", которая находится под обложкой книги.
    </p>
    <p>
        <img src="/img/documentation/book-ico.jpg" alt="Управление учебником"/>
    </p>
    <p>
        Перед вами откроется страница редактирования модуля. Пока в книги нет ни одного модуля. Для добавления модуля кликаем по ссылке "Добавить". На панели под названием книги.
    </p>
    <p><img src="/img/documentation/add-module-btn.jpg" alt="Кнопка добавления модуля"/></p>
    <p>
        По нажатию откроется окно с одним единственным полем, в котором надо указать название модуля.
    </p>
    <p>
        <img src="/img/documentation/module-form.jpg" alt="Форма добавления модуля"/>
    </p>
    <p>После того как вы указали название модуля нажмите кнопку "Добавить модуль". Название нового модуля отразится на панели ниже названия книги.</p>
    <p><img src="/img/documentation/module-link.jpg" alt="Ссылка редактирования модуля"/></p>
    <p>Кликнув по названию модуля вы приступаете к его редактированию. В последующем вы сможет добавить еще модули.</p>
    <p>Перед вами откроется рабочая область редактора, которая поделена на две части, слева располагаются блоки редактирования, справа отображается результат.</p>
    <p><img class="doc-image" src="/img/documentation/module-block.jpg" alt="Редактирование модуля"/></p>
    <p>
        Нам надо указать не заполненные поля модуля.
        Для этого кликаем по иконке редактирования блока в виде карандаша.
        После клика блок перейдет в режим редактирования, и отобразятся поля ввода.
    </p>
    <p>
        <img src="/img/documentation/module-edit-form.jpg" alt="Форма редактирования модуля"/>
    </p>
    <p>
        После того как вы заполните все поля, нужно повторно нажать на иконку редактирования (в виде карандаша).
        Блок выйдет режима редактирования и ваши данные отобразятся в области просмотра результата.
        Эти изменения автоматически будут сохранены в учебнике.
    </p>

    <a href="{{ path('documentation-book-create') }}" class="btn btn-primary pull-left">
        <span class="glyphicon glyphicon-backward"></span>
        Предыдущий шаг
    </a>
    <a href="{{ path('documentation-task-create') }}" class="btn btn-primary pull-right">
        Следующий шаг
        <span class="glyphicon glyphicon-forward"></span>
    </a>
{% endblock %}

