{% extends 'eTextBookLoungeBundle:Documentation:layout.html.twig' %}

{% block pageHeader %}
    <h1>Публикация имеющихся книг</h1>
{% endblock %}

{% block docContent %}
    <p>
        Вы можете опубликовать уже имеющиеся книги в таких форматах как pdf, mobi fb2.
        Для того что бы они были доступны в <a href="{{ path('readers') }}">ридерах</a>.
        Для этого вам необходимо создать книгу как описано в шаге по "Создание нового учебника", но при этом еще выбрать файл вашей книги в формате pdf(для примера), для пункта "Файл книги".
        Редактор обернет ваш файл в формат .etb. И он будет доступен сайта и в ридерах для дальнейшего использования.
    </p>
{% endblock %}
