{% extends 'eTextBookLoungeBundle:Documentation:layout.html.twig' %}

{% block pageHeader %}
    <h1>Публикация учебника</h1>
{% endblock %}

{% block docContent %}
    <p>
        Вы создали все необходимые модули в учебнике и добавили упражнения. 
        Учебник оформлен и готов к использованию.
        Теперь вы можете его опубликовать. Делается это в один клик по кнопке "Опубликовать учебник"
    </p>
    <p>
        <img class="doc-image" src="/img/documentation/book-controls.png"/>
    </p>
    <p>
        После публикации учебник будет доступен для скачивания его через ридеры.
        Так же на сайте редактора его сможет найти и просмотреть любой желающий в разделе "Учебники".
        Для учебника будет сгенерирована копия в pdf формате. И при необходимости ее можно будет распечатать.
    </p>
    <p>
        Как правило после публикации появляются моменты которые надо доработать.
        Вы может продолжать вносить изменения в свой учебник и после публикации.
        На опубликованной версии это ни как не отразится и изменения не будут доступны для читателей пока вы повторно не опубликуете учебник.
        После повторной публикации читатели смогут обновить учебник до последней редакции. Ридеры сами предложат им сделать как только вы повторно опубликуете.
    </p>

    <a href="{{ path('documentation-edit-access') }}" class="btn btn-primary pull-left">
        <span class="glyphicon glyphicon-backward"></span>
        Предыдущий шаг
    </a>
    <a href="{{ path('documentation-other-formats') }}" class="btn btn-primary pull-right">
        Следующий шаг
        <span class="glyphicon glyphicon-forward"></span>
    </a>
{% endblock %}

