{% extends 'eTextBookLoungeBundle:Documentation:layout.html.twig' %}

{% block pageHeader %}
    <h1>Публикация учебника</h1>
{% endblock %}

{% block docContent %}
    <p>
        Вы создали все необходимые модули в учебнике и добавили упражнения. 
        Учебник оформлен и готов к использованию.
        Теперь вы можете его опубликовать. Делается это в один клик по кнопке "Опубликовать учебник"
    </p>
    <p>
        <img class="doc-image" src="/img/documentation/book-controls.png"/>
    </p>
    <p>
        После публикации учебник будет доступен для скачивания его через ридеры.
        Так же на сайте редактора его сможет найти и просмотреть любой желающий в разделе "Учебники".

    </p>
{% endblock %}

