{% extends 'eTextBookLoungeBundle:Documentation:layout.html.twig' %}

{% block pageHeader %}
    <h1>Регистрация</h1>
{% endblock %}

{% block docContent %}
    <p>
        В правом верхнем углу страницы вы сможете найти ссылку "войти | регистрироваться".
    </p>
    <p>
        <img
            class="doc-image"
            src="/img/documentation/register-link-mark.jpg"
            alt="Ссылка на страницу регистрации" />
    </p>
    <p>
        Пройдя по ней вы попадаете на страницу с формой авторизации и регистрации.
        Так как пока вы не зарегистрированы на сайте вам необходимо будет воспользоваться формой справа.
        Указав свою электронную почту, ваше имя и фамилию, пароль (имя пользователя и пароль необходимо указывать латиницей) и нажав кнопку регистрация, в случае если все поля указаны верно вас, автоматически авторизует на сайте.
    </p>
    <p>
        <img
            class="doc-image"
            src="/img/documentation/register-form.jpg"
            alt="Форма регистрации" />
    </p>
    <p>
        В правом верхнем углу странице отобразится указанное вами имя пользователя.
    </p>
    <p>
        <img
            class="doc-image"
            src="/img/documentation/logout-link-mark.jpg"
            alt="Ссылка с именем пользователя" />
    </p>
    <p>
        В последующем вы можете воспользоваться указанными вами именем пользователя и паролем для входа. Теперь вы можете приступить к работе с редактором.
    </p>
    <a href="{{ path('documentation-book-create') }}" class="btn btn-primary pull-right">
        Следующий шаг <span class="glyphicon glyphicon-forward"></span>
    </a>
{% endblock %}

