{% extends 'eTextBookLoungeBundle:Documentation:layout.html.twig' %}

{% block pageHeader %}
    <h1>Добавление упражнений</h1>
{% endblock %}

{% block docContent %}
    <p>Для того что бы добавить упражнение, необходимо кликнуть по кнопке "добавить блок".</p>
    <p>
        <img
            class="doc-image"
            src="/img/documentation/module-block.jpg"
            alt="Кнопка добавления упражнений"/>
    </p>
    <p>В редакторе предусмотрены три типа блоков</p>
    <p>
        <img
            class="doc-image"
            src="/img/documentation/add-block-buttons.jpg"
            alt="Кнопки добавления блоков"/>
    </p>
    <p>
        Тип блока "Заголовок" предназначен для оформления статического текста и картинок.
        Для редактирования этого блока применяется <a href="https://ru.wikipedia.org/wiki/WYSIWYG" target="_blank">WYSIWYG редактор</a>.
        То есть в случае если вам нужно оформить вводный текст или заголовки, вам необходимо использовать именно этот тип блоков.
    </p>
    <p>
        <img class="doc-image" src="/img/documentation/edit-text-block.jpg" alt="Редактирование текстового блока"/>
    </p>
    <p>
        Каждый блок имеет управляющие кнопки.
        Редактировать, копировать, удалить.
    </p>
    <p>
        <img class="doc-image" src="/img/documentation/block-controls.png" alt="Кправляющие кнопки блока"/>
    </p>
    <p>
        Кнопка редактирования служит для включения и выключения режима редактирования блока.
        Кликая по ней блок переходит в режим редактирования.
        При повторном клике блок выходит из режима редактирования и автоматически сохраняются изменения, в этот момент внесенные в блок изменения отображаются в правой части предпросмотра.
    </p>
    <p>
        Кнопка копировать, скопирует блок и подставит копию ниже блока источника копии.
        Кнопка удаления, соответственно удаляет блок.
    </p>
    <p>
        Тип блока "Задание", используется для интерактивных заданий. С помощью него можно создавать различные типы упражнений а так же добавлять в учебник видео и аудио.
    </p>
    <p>
        <img class="doc-image" src="/img/documentation/edit-task-block.png" alt="Редактирование блока задания"/>
    </p>
    <p>
        Для задание необходимо указать заголовок, что требуется сделать для его выполнения.
        Каждое задание автоматически индексируется и для него создается порядковый номер в учебнике.
        Вам может понадобиться добавить упражнение с аудио или видео, при этом для бумажного учебника это не возможно.
        Для того что бы сохранить идентичность бумажной и электронной версии в плане нумерации упражнений вы может использовать функцию исключения из индекса.
        Поставив галочку на против "Не индексировать".
    </p>
    <p>
        Дальше вам необходимо указать какого типа будет ваше задание.
        На данный момент есть 10 типов:<br />
        1. Проверка окончаний времен; <br />
        2. Аудио записи; <br />
        3. Проверка окончаний; <br />
        4. Вхождение в множество; <br />
        5. Описание картинки; <br />
        6. Верно, не верно; <br />
        7. Текстовое задание; <br />
        8. Тест; <br />
        9. Сравнение перевода; <br />
        10. Видео записи.
    </p>
    <p>
        Проверка окончания времен подразумевает под собой, добавления окончаний в список возможных окончаний для каждого из времени, и упражнений для которых в последующем ученик должен подобрать правильное окончание из предоставленных.
        Для всех упражнений где есть условия самопроверки правильные ответы подсвечиваются зеленым цветом, не правильные красным.
    </p>
    <p>
        <img class="doc-image" src="/img/documentation/time-endings-task.png" alt="Тип упражнения проверки окончаний"/>
    </p>
    <p>
        Тип упражнения проверки окончаний работает по тому же принципу, только более упрощен и состоит из списка слов и окончаний к ним.
    </p>
    <p>
        Типы упражнений Аудио и Видео используются для добавления соответствующего контента.
        Вам необходимо заранее подготовить файлы в форматах mp3 для аудио и mp4 для видео.
    </p>
    <p>
        Тип упражнения описание картинки. Используется для визуального представления слов изучаемого языка.
        Вам необходимо предварительно подготовить ряд картинок. С помощью этого типа упражнения вы загружаете подготовленные картинки и указываете для них названия.
        Названия к картинкам автоматически будут перемешаны между собой, задача ученика правильно подобрать названия к картинкам.
    </p>
    <p><img class="doc-image" src="/img/documentation/check-image-task.png" alt="Упражнение описание картинки"/></p>
    <p>Упражнения "Верно, не верно", подразумевает под собой определение верно ли высказывание или нет. Вам необходимо указать предложение, и выбрать верно оно или нет.</p>
    <p>
        Упражнение "Сравнение перевода", создавалось для проверки изученных слов. Вы указываете слово и перевод к нему.
        Для ученика слова будут перемешаны и им надо будет найти для каждого слова перевод из предложенных слов.
    </p>
    <p> Упражнение "Тест", было создано для формирования тестов. Указываете список вопросов, к вопросам варианты ответов, один из вариант помечается как правильный.</p>

    <a href="{{ path('documentation-module-create') }}" class="btn btn-primary pull-left">
        <span class="glyphicon glyphicon-backward"></span>
        Предыдущий шаг
    </a>
    <a href="{{ path('documentation-edit-access') }}" class="btn btn-primary pull-right">
        Следующий шаг
        <span class="glyphicon glyphicon-forward"></span>
    </a>
{% endblock %}

