{% extends "::base.html.twig" %}

{% block body %}
    <div class="progress" style="width: 200px; height: 10px; border: solid 1px #ccc;">
        <div class="indicator" style="height: 10px; background: #eee"></div>
    </div>
    <input type="file" id="fileInput" />
{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://snapsvg.io//assets/js/snap.svg-min.js"></script>
    <script>
        var Uploader = function(input) {
            var $this = this;
            this.input = $(input);

            this.init = function() {
               this.bindInput();
            }

            this.bindInput = function() {
                this.input.bind('change', function(e) {
                    $this.upload($(this).prop('files')[0]);
                });
            }

            this.upload = function(file) {
                var http = new XMLHttpRequest();
                http.upload.addEventListener('progress', function(e) {
                    $('.indicator').css({ width: e.loaded * 100 / e.total + '%'});
                }, false);
                var form = new FormData();
                form.append('path', '/');
                form.append('cover', file);
                http.open('POST', '/book/cover-upload');
                http.send(form);
            }

            this.init();
        }

        var uploader = new Uploader($('#fileInput'));
    </script>
{% endblock %}