html, body {
  font-family: Tahoma;
  background: url("../img/body-bg.png"); }

.book .page-header {
  background: url("../img/body-bg.png");
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }

#book-body {
  background: url("../img/body-bg.png"); }

.module .title .wrap {
  background: #e5bae3;
  height: 150px;
  padding: 45px 0 0 50px; }
.module .title span {
  font-size: 14px; }
.module .title strong {
  font-size: 30px;
  font-weight: normal; }
.module .wallpaper {
  height: 150px;
  overflow: hidden; }
  .module .wallpaper .wrap {
    height: 150px;
    background: #e5bae3 no-repeat center center; }
.module .questions {
  padding: 20px 0 0 50px; }
.module .description {
  padding: 20px 0 0 50px; }
.module blocks {
  padding: 50px 0 0 0; }
.module .block {
  margin-bottom: 20px;
  overflow: hidden;
  float: left;
  width: 100%; }
  .module .block .position {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    overflow: hidden; }
  .module .block blockquote {
    font-size: 14px;
    border-left: solid 5px #e9b4ea;
    padding: 5px 0 5px 20px; }
  .module .block .block-content h1 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 0; }
  .module .block .block-content img {
    margin: 0 10px 0 0; }
  .module .block .rule-content {
    background: #fff;
    padding: 10px 20px 20px 20px;
    border: solid 1px #eae2e8;
    border-left: solid 5px #e9b4ea;
    border-radius: 3px 0 0 3px;
    box-shadow: 1px 1px 0 #f1e4ee;
    overflow: hidden; }
  .module .block .task-content {
    background: #fff;
    padding: 10px 20px 20px 20px;
    border: solid 1px #eae2e8;
    box-shadow: 1px 1px 0 #f1e4ee; }
    .module .block .task-content img {
      max-width: 100% !important; }
    .module .block .task-content .task-title {
      font-size: 14px;
      font-weight: bold;
      margin: 0 0 10px 0; }
    .module .block .task-content .simple-text {
      font-size: 14px;
      line-height: 18px;
      overflow: hidden; }
      .module .block .task-content .simple-text img {
        margin: 0 15px 0 0; }
  .module .block .task-types {
    overflow: hidden; }
    .module .block .task-types.inline {
      float: right;
      margin: 0 0 5px 0; }
      .module .block .task-types.inline .item {
        clear: none;
        margin: 0 10px 0 0; }
    .module .block .task-types .item {
      float: left;
      width: 38px;
      height: 36px;
      background: url("/img/book-icons-sprite.png") no-repeat;
      margin: 0 5px 0 0;
      opacity: 0.2;
      cursor: pointer; }
      .module .block .task-types .item:hover, .module .block .task-types .item.selected {
        opacity: 1; }
      .module .block .task-types .item.type-01 {
        background-position: left top; }
      .module .block .task-types .item.type-02 {
        background-position: left -41px; }
      .module .block .task-types .item.type-03 {
        background-position: left -80px; }
      .module .block .task-types .item.type-04 {
        background-position: left -122px; }
      .module .block .task-types .item.type-05 {
        background-position: left -161px; }
      .module .block .task-types .item.type-06 {
        background-position: left -201px; }
      .module .block .task-types .item.type-07 {
        background-position: left -241px; }
      .module .block .task-types .item.type-08 {
        background-position: left -281px; }
      .module .block .task-types .item.type-09 {
        background-position: left -321px; }
