{% extends "::lounge-template.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageHeader %}
    <h1>Запрос был осуществлен ранее</h1>
{% endblock %}

{% block pageContent %}
    <p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock %}
